<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static' , filename='bootstrap.min.css')}}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    {% if title %}
        <title>Driver Alertness Detection - {{ title }}</title>
    {% else %}
        <title>Driver Alertness Detection</title>
    {% endif %}
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-style navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand mx-auto">
                    <a href="{{ url_for('home') }}" style="text-decoration:none"><span class="logo">Driver's Alertness Detection</span></a>
                </div>
               
            </div>
        </nav>
        <div class="row">
        <div class="col-md-12 fadeOut">
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category , message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
    </div>
        {% block content %}

        {% endblock content %}
    </header>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>