{% extends 'base.html' %}
{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="subtext">Adjust your camera so that the face is visible for Detection process. For enabling the Image Enhancer reduce the light level.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="video-container">
                <img id="video-frame" src="{{ url_for('video_feed') }}">
            </div>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-style" href="{{ url_for('home') }}">Home</a>
    </div>
</div>

{% endblock content %}