{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6 banner-info">
                <h1>A Project On</h1>
                <p class="big-text">Driver's Alertness Detection</p>
                <p class="subtext">As time advanced, development of Driver’s Drowsiness Detection system has also been in progress and a key topic of research for many people in various institutes and industries. And many people in past years have introduced different concepts and models for the working of an effective system with a best accuracy rate.</p>
                <a class="btn btn-style-outline" href="{{ url_for('settings') }}">Settings</a>
                <a class="btn btn-style" href="{{ url_for('detection') }}">Start</a>
            </div>
            <div class="col-sm-6 banner-image">
                <img src="{{ url_for('static' , filename='img/home_img.jpg') }}" class="img-responsive" alt="">
            </div>
        </div>
    
    </div>


{% endblock content %}