{% extends 'base.html' %}
{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-sm-6 banner-info">
                <h1>A Project On</h1>
                <p class="big-text">Driver's Alertness Detection</p>
                <p class="subtext">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, magni, odio pariatur neque necessitatibus asperiores quia perferendis optio accusantium recusandae consectetur quos ea dolor quo totam cupiditate ad voluptate maiores.</p>
                <a class="btn btn-style" href="#">Learn More</a>
                <a class="btn btn-style" href="{{ url_for('detection') }}">Start</a>
            </div>
            <div class="col-sm-6 banner-image">
                <img src="{{ url_for('static' , filename='img/home_img.jpg') }}" class="img-responsive" alt="">
            </div>
        </div>
    </div>


{% endblock content %}